/* Copyright */

.copyright {
  /* background: #ffbb33; */
  background: white;
  /* padding: 10px; */
  margin: auto;
  padding: 1.618em 3.236em;
  border-radius: 5px;
}

.copyright div {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", Courier, monospace !important;
  font-size: 75%;
  color: #1c1c1c;
}

.copyright a {
  color: #998998;
}

.teal {
  color: #008080;
}
